div {
  width: 100vw;
  height: calc(100vh - 64px);

}

#controls {

  background-color: white;
  padding: 10px;
  border-radius: 5px;
  position: fixed;
  bottom: 38px;
  right: 20px;
  z-index: 9999;
  box-shadow: 0 0 10px 0 rgb(0, 0, 0.1);
  border: 1PX solid #e2e8f0;
  width: 250PX;


}